.board{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    padding: 0.5rem;
    background-color: darkslategray;
    height: 50vw;
    width: 50vw;
    gap: 0.25rem;
    max-height: 800px;
    max-width: 800px;
    min-height: 250px;
    min-width: 250px;
}

.description{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
    background-color: darkslategray;
    justify-content: space-between;
    padding: 1rem 0.5rem;
    border-radius: 1rem 1rem 0 0 ;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

.turn-info{
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    border-radius: 0.5rem;
}

.x-turn{
    background-color: white;
    color: #d77335;
    font-weight: bold;

}
.info{
    margin-left: 1rem;
}

main h1:first-of-type{
    margin-bottom: 0;
    color: white;
}

a{
    color: #d77335;
}

header{
    height: 10vh;
    width: calc(70vw + 1rem);
}

.title{
    width: 100%;
    height: 100%;
}

main footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    background-color: darkslategray;
    z-index: 100;
    bottom: 0;
    height: 10vh;
    width: 100%;
    justify-content: center;
}

.start-btn{
    border: none;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mark{
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.cell{
    background-color: white;
    border-radius: 0.25rem;
    border: 1px solid darkslategray;
    transition: background-color 0.5s ease;
    cursor: pointer;
}



.cell:hover{
    background-color: #b7bfbf;
}

.one{
    grid-column-start: 1;
    grid-row-start: 1;
}

.two{
    grid-column-start: 2;
    grid-row-start: 1;
}

.three{
    grid-column-start: 3;
    grid-row-start: 1;
}

.four{
    grid-column-start: 1;
    grid-row-start: 2;
}

.five{
    grid-column-start: 2;
    grid-row-start: 2;
}

.six{
    grid-column-start: 3;
    grid-row-start: 2;
}

.seven{
    grid-column-start: 1;
    grid-row-start: 3;
}

.eight{
    grid-column-start: 2;
    grid-row-start: 3;
}

.nine{
    grid-column-start: 3;
    grid-row-start: 3;
}
